body {
    color:black;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
h1{
    color:black;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size:3rem;
    margin-right: 200px;
}
h2 {
    color:black;
    font-family: 'Pacifico', cursive;
    font-weight:lighter;
    text-align: center;
    margin-left: 100px;
    font-size: 3rem;
    
}
span {
    color:palevioletred;
}
.image {
padding: 0;
margin-left:400px
}
.top-container {
    background-color:#40F8FF;
    height:300 px;
    width: 600 px;
    
    position: relative;
}
.profile-img {
 border-radius: 60px;
 
}
p {
    line-height: 3;
    
}
.Hello {
    color:blue;
    font-size:xx-large;
font-weight: bold;
}
.icon {
    color:black;
}
.skills {
    color: blue;
    font-size: xx-large;
    font-weight: bolder;
}
h3 {
    color:blue;
    font-size: 1rem;
    font-weight: bold;
}
.parent {
    display: grid;
    text-align:center;
     row-gap: 2rem;
}
.typing {
margin-left: 40%;
}
.middle-container {
    background-color: aquamarine;
}
.btn-primary {
    background-color:#4477CE;
    color: white;
    font-size: x-large;
    margin: 0%;
    
}
.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4rem;

}
footer {
    line-height: 5rem;
    color:black
}
.bottom-container{
background-color:#40F8FF;
height:300px;
}